body {
  background: #333;
}

.box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  /* animation-name: animate1; */
  animation-name: animate2;
  animation-duration: 5s;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
  /* animation-delay: 2s; */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background:aquamarine;
  position: relative;
  animation: animate-circle 8s forwards ease-in-out;
}

/* @keyframes animate1 {
  from {
    top: 0;
  }

  to {
    width: 600px;
    background-color: red;
    top: 200px;
  }
} */

@keyframes animate2 {
  0% {
    left: 0px;
    top: 0px;
    background-color: white;
    border-radius: 0 0 0 0;
  }
  25% {
    left: 300px;
    top: 0px;
    background-color: red;
    border-radius: 50% 0 0 0;
  }
  50% {
    left: 300px;
    top: 300px;
    background-color: green;
    border-radius: 50% 50% 0 0;
  }
  75% {
    left: 0px;
    top: 300px;
    background-color: blue;
    border-radius: 50% 50% 50% 0;
  }
  100% {
    left: 0px;
    top: 0px;
    background-color: white;
    border-radius: 50% 50% 50% 50%;
  }
}

@keyframes animate-circle {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 300px;
    left: 300px;
  }
}