.container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 4fr;
    grid-gap: 0.3rem;
}

.item {
    background: #161b21;
    color: #c4c4c4;
    text-align: center;
    padding: 3rem 1rem;
    font-size: 2rem;
    border: #333 solid 1px;
}
