body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.side-menu {
    background-color: #747474;
    padding: 0;
    width: 250px;
    border-radius: 10px;
    line-height: 1.5em;
    /* line-heigt property can used in child tags of <ul> like <li> and <a>. But it will generate different result relatively of its parent tag's font size */
    font-size: 20px;
    /* font-size property can be used in child tags of ul like li and a also. That will generate same result. */
}
.side-menu li {
    list-style: none;
    /* list-style can be used in <ul> tag also */
    padding: 0px;
    border-bottom: white 1px solid;
    
}

.side-menu li:last-child {
    border-bottom: none;
}
.side-menu li a {
    display: block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 10px 40px;
    /* text-align: center; */
}
#first-a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#last-a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.side-menu li a:hover {
    color:yellow;
    background-color: #000;
}

.navbar {
    /* display: inline-block; */
    list-style: none;
    padding: 0;
    margin: 0;
    /* background-color: black; */
    /* overflow: auto; */
}
.navbar li {
    background-color: black;
    float: left;
    border-right: rgb(255, 255, 255) 1px solid;
    /* padding: 10px; */
}
.navbar li:last-child {
    border-right: none;
}
.navbar li a {
    display: block;
    text-decoration: none;
    color: yellow;
    padding: 10px 15px;
}
.navbar li a:hover {
    background-color: #747474;
    color:white;
}
.clr {
    clear: both;
}